html, body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
  background: #0277BD;
}
.container {
  display: block;
  position: absolute;
  width: 500px;
  height: 500px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
  height: 50px;
  box-shadow: 0px -23px 38px rgba(0,0,0,0.09), 0 3px 6px rgba(0,0,0,0.13);
  margin-bottom: 7px;
}
.header h2 {
  margin: 0;
  line-height: 1;
}
.content {
  height: 405px;
  overflow-y: auto;
}
.content .todo-item {
  position: relative;
  z-index: 10;
  padding: 7px 10px;
  background: #f9f9f9;
  margin-bottom:1px;
}
.content .todo-item .delete-todo {
  position: absolute;
  top: 8px;
  right: 10px;
  z-index: 100;
  cursor: pointer;
  opacity: .6;
  transition: all 0.3s ease-in-out;
}
.content .todo-item .delete-todo:hover {
  opacity: 1;
}
.footer form {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  height:40px;
}
.form-input {
  width: 100%;
  height: 20px;
  border: 0px;
  padding: 10px;
  outline: 0;
  border-radius: 0 0 4px 4px;
  background: #f9f9f9;
  font-family: 'Roboto Mono', monospace;
  font-size: .75rem;
}